name: pr-description-writer

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  generate-pr-description:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - name: Generate PR Description
        uses: ./pr-description-writer
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          llm_provider: openai
          openai_api_key: ${{ secrets.OPENAI_API_KEY }}
          openai_model: gpt-4o-mini
          prs: 'https://github.com/nakamasato/github-actions/pull/13,https://github.com/nakamasato/github-actions/pull/12'
          prompt_path: 'pr-description-writer/pr_prompt.txt'
